<h1>Create a new task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <br>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <br>
  <%= f.submit %>
<% end %>

<div>
  <%= link_to "View all tasks", tasks_path(@task) %>
</div>

